run = "set -e; csc ./Main.cs /out:Main.exe; mono Main.exe"

hidden = ["Main.exe","README.md"]

[env]
DOTNET_NOLOGO = "1"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"

[nix]
channel = "stable-21_11"

[packager]
language = "dotnet"

[packager.features]
packageSearch = true
